
<h1><%= @kitty.name %></h1>

<table>
  <colgroup span="4"></colgroup>
  <tr>
    <th>Birthdate</th>
    <th>Color</th>
    <th>Sex</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @kitty.birth_date %></td>
    <td><%= @kitty.color %></td>
    <td><%= @kitty.sex %></td>
    <td><%= @kitty.description %></td>
  </tr>
</table>
